body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #8ecae6; */

}

/* NAV BAR*/

.navbar,
.dropdown-menu,
.dropdown-item:hover {
  background-color: #023047;

}

nav.navbar .nav-item>a.nav-link,
nav.navbar .nav-item>div.nav-link,
.dropdown-item {
  color: #ffb703;
  font-weight: 500;
}

nav.navbar .nav-item>a.nav-link:hover,
nav.navbar .nav-item>div.nav-link:hover,
.dropdown-item:hover {
  color: #8ecae6;
  font-weight: 500;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:visited {
  color: #fb8500;
}

a:hover {
  counter-reset: #555;
}

.top-menu li a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #8ecae6;
  height: 1px;
  transition: all .3s;
  transform: scale(0);
}

.top-menu li a:hover::after {
  transform: scale(1);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {

  color: #ffb703;
}



/* NAV BAR END*/


.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading:hover {
  opacity: 1;
}

.card-img {
  height: 500px;
  object-fit: cover;
}

.picturecolm {
  background-color: rgba(142, 202, 230, .8);

}

/*Gallery*/
.underline-dark {
  width: 150px;
  border: 1px solid #023047;
  margin: auto;

}

.gallery-list-item {
  color: #023047;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #ffb703;


}

.gallery img {
  height: 250px;
  object-fit: cover;


}

/*end of Gallery*/

.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
  padding: 30px;
  transition: all .7s;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: color .5s;
}

.menu-item:hover {
  color: #70aed2;
}

.nav-active {
  color: #70aed2;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}

.myBTN {
  background-color: #023047;
  color: #ffb703;

}

.myBTN:hover {
  color: #eee;
}

.footer {
  color: #ffb703;
  background-color: #023047;

}

.footer a {
  color: #ffb703;
  background-color: #023047;
}

.contact-us-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}